

<script src="../JS/Controllers/myTasks.js"></script>

<div class="mail-container col-xs-12" ng-controller="myTasksController">
	<script src="../JS/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
		setTimeout(function() {
			tinymce.init({
				selector : '#taskTextArea',
				removed_menuitems : 'newdocument',
				height : "100"
			/* menubar: false,
			toolbar:false,
			statusbar:false,
			contentEditable:false,
			readonly : 1 */
			});
		}, 800);
	</script>
	<div class="taskPopUp" id="taskPopUp">
		<div
			class="task_pop_content col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
			<span class="glyphicon glyphicon-remove" ng-click="close_popup()"></span>


			<div class="col-md-12 taskInfoTask">

				<div class="col-md-5 ">
					<h1 class="mailSubjectFont">
						Task:<span class="taskTaskSpan"> {{task_name}}</span>
					</h1>
				</div>

				<div class="col-md-5">
					<h1 class="mailSubjectFont">
						Priority:<span class="taskTaskSpan"> {{priority}}</span>
					</h1>
				</div>
				<div class="col-md-5 taskStatus">
					<label for="Priority"> Status: </label><br> <select
						name="Status" ng-model="statusTaskValue">
						<option value="Opened">Opened</option>
						<option value="Closed" selected>Closed</option>

					</select>
				</div>

				<div class="col-md-5">
					<h1 class="mailSubjectFont">
						Estimated Time:<span class="taskTaskSpan"> {{estimated_time}}</span>
					</h1>
				</div>




				<div class="col-md-12  textDiv">

					<textarea id="taskTextArea" class="form-control projectDescription"
						ng-model="taskText" rows="8" id="comment"></textarea>
				</div>

			<button class="col-md-3 btn btn-info updateTask" ng-click="updateTask($index,statusTaskValue)">Update Task</button>

			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-offset-2  col-md-8">
		<md-content class="messagesList"> <md-list> <md-list-item
			class="md-3-line tasksItem task{{item.task_status}}"
			ng-click="viewTask(item.task_id,item.task_name,item.due_date,item.estimated_time,item.task_status,item.task_comment,item.priority,$index,item.user_id)"
			ng-repeat="item in myTasks">
		<div class="md-list-item-text col-xs-10 col-xs-offset-1 col-md-3">
			<h2 class="col-xs-10 col-xs-offset-1 col-md-8">{{item.task_name}}
			</h2>
			<h4 class="taskDueDate col-xs-10 col-xs-offset-1 col-md-6 ">{{item.due_date}}</h4>


		</div>
		<md-button
			class="md-secondary viewTaskButton col-md-3 col-xs-10 col-xs-offset-1"
			ng-click="viewTask(item.task_id,item.task_name,item.due_date,item.estimated_time,item.task_status,item.task_comment,item.priority,$index,item.user_id)">View
		Task</md-button> <md-divider md-inset ng-if="!$last"></md-divider> </md-list-item> </md-list> </md-content>

	</div>


</div>



